{
    "extends": "airbnb",
    "rules": {
      "no-console": 0,
      "no-unused-vars": [2, { "args": "none" }],
      "react/no-multi-comp": 0,
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "react/destructuring-assignment": "off",
      "jsx-a11y/label-has-for": "off",
      "prefer-destructuring": "off",
      "jsx-a11y/label-has-associated-control": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "react/no-access-state-in-setstate": "off",
      "react/forbid-prop-types": "off",
      "class-methods-use-this": "off",
      "react/no-string-refs": "off",
      "react/no-array-index-key": "off",
      "react/no-unused-prop-types": "off",
      "no-return-assign": "off",
      "react/button-has-type": "off",
      "react/prefer-stateless-function": "off",
      "import/no-cycle": "off",
      "global-require": "off",
      "no-undef": "off",
      "func-names": "off",
      "prefer-arrow-callback": "off",
      "no-var": "off",
      "new-cap": "off",
      "react/require-default-props": "off"
    }
}
