/* Global */
body {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 526px;
  background-color: #f8f8f8;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

label {
  display: block;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

input[disabled] {
  background-color: #eee;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

.spacer {
  width: 100%;
  height: 30px;
}

/* Chat */
.messages {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 526px;
  padding: 10px;
  border: 3px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

.messages .user {
  position: relative;
  float: left;
  width: 120px;
  margin-right: 10px;
  font-weight: bold;
}

.messages .message {
  position: relative;
  float: left;
  width: 370px;
}

/* JSON to CSV */
#dataInput {
  width: 400px;
  height: 600px;
}

.csvResults {
  margin-top: 20px;
}
